---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Frontend Mentor | Interactive Rating Component";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="h-screen w-full grid justify-items-center items-center">
    <Card />
  </main>
</BaseLayout>
